<h1>Final Grade Distribution</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Score</th>
    <th>Grade</th>
    <th></th>
    <th></th>
    <th></th>
    </tr>
<% @students.each do |student| %>
  <tr>
    <td><%= student.username %></td>
    <td><%= student.total_score %></td>
    <td><%= student.final_grade %></td>
    </tr>
    <% end %>
    </table>
  <br />
<% case @flag when 0 %>
  <th>Average: </th>
  <td><%= @resultavg %></td>
  <br />
  <th>Standard deviation: </th>
  <td><%= @resultstd %></td>
  <% end %>
  <br />
  <%= link_to 'Back to Students', students_path %>
